<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.george.devil">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/ProjectDevil">
        <activity android:name=".Activitys.Projects.PagesProjects.PublishProjectActivity"/>
        <activity android:name=".Activitys.Main.Pupil.ProfileActivityPupil" />
        <activity android:name=".Activitys.Main.Registration.RegistrationTeatherActivity" />
        <activity android:name=".Activitys.Main.Teather.MainActivityTeather" />
        <activity android:name=".Activitys.Main.Pupil.SettingsActivity" />
        <activity android:name=".Activitys.Main.Pupil.ForgotPasswordActivity" />
        <activity android:name=".Activitys.Main.Pupil.ChangePasswordActivity" />
        <activity android:name=".Activitys.Tasks.AddTaskNoteActivity" />
        <activity android:name=".Activitys.Tasks.AddTaskActivity" />
        <activity android:name=".Activitys.Tasks.MyTasksActivity" />
        <activity android:name=".Activitys.Main.Pupil.CommentsActivity" />
        <activity android:name=".Activitys.Projects.InformationFromTeacherActivity" />
        <activity android:name=".Activitys.Changes.AddNoteChange" />
        <activity android:name=".Activitys.Changes.AddChange" />
        <activity android:name=".Activitys.Issues.AddNoteIssue" />
        <activity android:name=".Activitys.Issues.AddIssue" />
        <activity android:name=".Activitys.Changes.ChangesActivity" />
        <activity android:name=".Activitys.Issues.IsuuesActivity" />
        <activity android:name=".Activitys.Projects.PagesProjects.PostProjectActivity" />
        <activity android:name=".Activitys.Projects.PagesProjects.PrivatePublicProjectActivity" />
        <activity android:name=".Activitys.Main.Pupil.FollowingFollowersActivity" />
        <activity android:name=".Activitys.Main.Pupil.EditProfileActivity" />
        <activity android:name=".Activitys.Main.Pupil.MessageActivity" />
        <activity android:name=".Activitys.Projects.EditsProject.FindMoreImagesActivity" />
        <activity android:name=".Activitys.Main.Registration.RegistarionPupilActivity" />
        <activity android:name=".Activitys.Projects.EditsProject.EditProjectImagesActivity" />
        <activity android:name=".Activitys.Projects.EditsProject.EditProjectActivity" />
        <activity android:name=".Activitys.Projects.PagesProjects.MainProjectActivity" />
        <activity android:name=".Activitys.Notebook.AddNoteActivity" />
        <activity android:name=".Activitys.Projects.NewProject.NewProjectImagesActivity" />
        <activity android:name=".Activitys.Projects.NewProject.NewProjectActivity" />
        <activity android:name=".Activitys.Main.Pupil.MainActivityPupil"/>

        <activity
            android:name=".Activitys.Main.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/ProjectDevil.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>