<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.george.devil">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/ProjectDevil">
        <activity android:name=".Activities.Projects.AddInformationActivity"></activity>
        <activity android:name=".Activities.Projects.AddInformationTeacher" />
        <activity android:name=".Activities.Projects.PagesProjects.ProjectTeacher" />
        <activity android:name=".Activities.Projects.EditsProject.ImagesActivity" />
        <activity android:name=".Activities.Main.Teacher.EditProfileTeacher" />
        <activity android:name=".Activities.Projects.PagesProjects.PublishProjectActivity" />
        <activity android:name=".Activities.Main.Pupil.ProfileActivityPupil" />
        <activity android:name=".Activities.Main.Registration.RegistrationTeatherActivity" />
        <activity android:name=".Activities.Main.Teacher.MainActivityTeather" />
        <activity android:name=".Activities.Main.Common.SettingsActivity" />
        <activity android:name=".Activities.Main.Pupil.ForgotPasswordActivity" />
        <activity android:name=".Activities.Main.Pupil.ChangePasswordActivity" />
        <activity android:name=".Activities.Tasks.AddTaskNoteActivity" />
        <activity android:name=".Activities.Tasks.AddTaskActivity" />
        <activity android:name=".Activities.Tasks.MyTasksActivity" />
        <activity android:name=".Activities.Main.Pupil.CommentsActivity" />
        <activity android:name=".Activities.Projects.InformationFromTeacherActivity" />
        <activity android:name=".Activities.Changes.AddNoteChange" />
        <activity android:name=".Activities.Changes.AddChange" />
        <activity android:name=".Activities.Issues.AddNoteIssue" />
        <activity android:name=".Activities.Issues.AddIssue" />
        <activity android:name=".Activities.Changes.ChangesActivity" />
        <activity android:name=".Activities.Issues.IssuesActivity" />
        <activity android:name=".Activities.Projects.PagesProjects.PostProjectActivity" />
        <activity android:name=".Activities.Projects.PagesProjects.PrivatePublicProjectActivity" />
        <activity android:name=".Activities.Main.Common.FollowingFollowersActivity" />
        <activity android:name=".Activities.Main.Pupil.EditProfileActivity" />
        <activity android:name=".Activities.Main.Pupil.MessageActivity" />
        <activity android:name=".Activities.Projects.EditsProject.FindMoreImagesActivity" />
        <activity android:name=".Activities.Main.Registration.RegistarionPupilActivity" />
        <activity android:name=".Activities.Projects.EditsProject.EditProjectImagesActivity" />
        <activity android:name=".Activities.Projects.EditsProject.EditProjectActivity" />
        <activity android:name=".Activities.Projects.PagesProjects.MainProjectActivity" />
        <activity android:name=".Activities.Notebook.AddNoteActivity" />
        <activity android:name=".Activities.Projects.NewProject.NewProjectImagesActivity" />
        <activity android:name=".Activities.Projects.NewProject.NewProjectActivity" />
        <activity android:name=".Activities.Main.Pupil.MainActivityPupil" />
        <activity
            android:name=".Activities.Main.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/ProjectDevil.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>